<main>
  <section class="section" id="landing-section">
    <div class="page-wrapper">
        <div class="center-wrapper">
          <div id="landing-intro">
            <h1>M Kacy Sommers</h1>
            <h3>Full Stack Web Developer</h3>
            <button>See Projects</button>
          </div>
        </div>
    </div>
  </section>

  <section class="section" id="about-section">
    <div class="page-wrapper">
      <div id="about-flex">
        <div id="about-photo">
          <img src="../images/about_background.jpg" alt="M Kacy Sommers">
        </div>
        <div id="bio">
          <h2>Hi, I'm Kacy.</h2> 
          <p>
              I'm a Seattle based developer who loves to create full stack, fully responsive web applications that focus strongly on user experience.
              Lorem ipsum dolor sit amet, no dicit scribentur has, in eam posse sonet aeterno, no nihil civibus fabellas sit. Cum verear euismod ad. Postea vituperata ad vel, mei case ubique cu. Hinc accusam qui ne, ut eum invenire gubergren sadipscing. Vis eu dolor nemore postulant. Odio vituperata ne sit.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="projects-section">
    <div class="page-wrapper">
      <div class="page-title">
        <h3>Projects</h3>
      </div>
      <div class="carousel" id="projects-carousel">
        <div id="projects-flex">
          <div id="project-description-wrapper">
            <h1>Bookkeeper</h1>
            <p>HTML5, CSS3, JavaScript, JQuery, Node.js, Express.js, PostgreSQL, Sequelize</p>
            <p id="project-description">Lorem ipsum dolor sit amet, no dicit scribentur has, in eam posse sonet    aeterno, no nihil civibus fabellas sit. Cum verear euismod ad. Postea vituperata ad vel, mei case ubique cu. Hinc accusam qui ne, ut eum invenire gubergren sadipscing. Vis eu dolor nemore postulant. Odio vituperata ne sit. <span>Read More</span></p>
            <div id="project-links">
              <a href="#">Github</a>&nbsp;&nbsp;&nbsp;
              <a href="#">Live Site</a>
            </div>
            <div id="project-arrows">
              <a href="#"><i class="fa fa-chevron-left project-prev"></i><span>Prev Project</span></a>
              <a href="#"><span>Next Project</span><i class="fa fa-chevron-right project-next"></i></a>
            </div>
          </div>
          <div id="project-photos">
            <div class="carousel" id="project-photos-carousel">
              <div id="project-display">
                <div id="project-display-top">
                    <img src="../images/projects/bookkeeper.png" alt="bookkeeper">
                </div>
                <div id="project-display-bottom">
                  <div id="bullets">
                    &bull; &bull; &bull; &bull; 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="skills-section">
    <div class="page-wrapper">
        <div class="page-title">
            <h3>Technical Skills</h3>
          </div>
      <div id="skills-flex">
        <% skills.forEach(function(skill) { %>
          <div class="skill-icon">
              <img src="<%= skill %>" />
          </div>
        <% }); %>
      </div>
    </div>
  </section>

  <section class="section" id="contact-section">
    <div class="page-wrapper">
      <div id="contact-intro">
        <div id="contact-intro-wrapper">
            <h2>Let's work together!</h2>
            <p>I am always on the lookout for new projects, fresh challenges and kind folks to collaborate with. If you have an idea, an open position or just want to talk code, please get in touch.</p>
            <button class="contact-link">Contact Kacy</button>
        </div>
      </div>
    </div>
  </section>
</main>

<section id="contact-form">
  <div id="contact-info">
    <h4><i class="fas fa-laugh-wink"></i><span>Mark Kacy Sommers</span></h4>
    <h4><i class="fa fa-phone"></i><span>330-819-2592</span></h4>
    <h4><a href="#"><i class="fa fa-envelope"></i></a><span>kacysommers@gmail.com</span></h4>
    <h4><a href="https://www.linkedin.com/in/kacy-sommers/"><i class="fab fa-linkedin"></i></a><span>kcsommers</span></h4>
    <h4><a href="https://github.com/kcsommers"><i class="fab fa-github"></i></a><span>kcsommers</span></h4>
  </div>

  <div id="contact-form-wrapper">
    <form action="/contact" method="POST">
      <label htmlFor="name">
        <input required placeholder="Name" type="text" name="name" />
      </label>
      <label htmlFor="email">
        <input required placeholder="Email" type="email" name="email" />
      </label>
      <label htmlFor="company">
        <input required placeholder="Company" type="text" name="company" />
      </label>
      <label htmlFor="message">
        <textarea required placeholder="Message" name="message" id="message"></textarea>
      </label>
      <input type="submit" value="Send Message" />
    </form>
  </div>
</section>