<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M Kacy Sommers</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav id="main-nav">
      <div id="nav-wrapper">
        <div id="nav-left">
          <a id="initials" class="nav-link" href="/">MKS</a>
        </div>
        <div id="nav-right">
          <div id="nav-menu">
            <a class="mobile-show" id="nav-burger" href="#"><i class="fas fa-bars"></i></a>
            <a class="nav-link mobile-hide" href="http://www.mkacysommers.com/#about-section">About</a>
            <a class="nav-link mobile-hide" href="http://www.mkacysommers.com/#projects-section">Projects</a>
            <a class="nav-link mobile-hide" id="resume-link" href="/resume">Resume</a>
            <a class="nav-link mobile-hide" id="contact-link" href="#">Contact</a>
            <a class="mobile-hide" id="github-link" href="https://github.com/kcsommers"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </nav>
    <nav class="hide-mobile-nav" id="mobile-nav">
      <a class="nav-link mobile-nav-link" href="/#about-section">About</a>
      <a class="nav-link mobile-nav-link" href="/#projects-section">Projects</a>
      <a class="nav-link mobile-nav-link" id="resume-link" href="/resume">Resume</a>
      <a class="nav-link mobile-nav-link" id="contact-link" href="#">Contact</a>
      <a class="nav-link mobile-nav-link" id="github-link" href="https://github.com/kcsommers"><i class="fab fa-github"></i></a>
    </nav>
    <%- body %>
    <section id="contact-form">
      <div id="contact-info">
        <h4><i class="fas fa-laugh-wink"></i><span>Mark Kacy Sommers</span></h4>
        <h4><i class="fa fa-phone"></i><span>330-819-2592</span></h4>
        <h4><a href="#"><i class="fa fa-envelope"></i></a><span>kacysommers@gmail.com</span></h4>
        <h4><a href="https://www.linkedin.com/in/kacy-sommers/"><i class="fab fa-linkedin"></i></a><span>kcsommers</span></h4>
        <h4><a href="https://github.com/kcsommers"><i class="fab fa-github"></i></a><span>kcsommers</span></h4>
      </div>
    
      <div id="contact-form-wrapper">
        <form action="/contact" method="POST">
          <label htmlFor="name">
            <input required placeholder="Name" type="text" name="name" />
          </label>
          <label htmlFor="email">
            <input required placeholder="Email" type="email" name="email" />
          </label>
          <label htmlFor="company">
            <input required placeholder="Company" type="text" name="company" />
          </label>
          <label htmlFor="message">
            <textarea required placeholder="Message" name="message" id="message"></textarea>
          </label>
          <input type="submit" value="Send Message" />
        </form>
      </div>
    </section>
    <footer id="main-footer">
      <div class="center-wrapper" id="footer-wrapper">
        <a class="center-wrapper" href="https://github.com/kcsommers"><i class="fab fa-github"></i></a>
        <a class="center-wrapper" href="https://www.linkedin.com/in/kacy-sommers/"><i class="fab fa-linkedin"></i></a>
        <span class="center-wrapper contact-link"><i class="fas fa-envelope"></i></span>
      </div>
    </footer>
    <div class="page-lid"></div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="../js/main.js"></script>
</body>
</html>