<section class="section" id="project-page-section">
  <div class="page-wrapper" id="project-page-wrapper">
    <section id="project-details">
      <h1><%= project.name %></h1>
      <div id="project-techs">
          <% project.technologies.forEach((tech) => { %>
            <span><%= tech %></span>
          <% }); %>
      </div>
      <% project.extraDescription.forEach((str) => { %>
        <p><%= str %><br /><br /></p>
      <% }); %>
    </section>
    <section id="project-images">
      <div id="project-images-wrapper">
        <% project.imagesLg.forEach((src) => { %>
          <img src=<%= src %> />
        <% }); %>
      </div>
    </section>
  </div>
</section>