<section class="section" id="resume-section">
  <div id="resume-wrapper">
    <div id="resume">
      <img src="../images/KacySommers_Resume/1.svg" alt="Kacy Sommers Resume" />
    </div>
  </div>
  <div id="resume-options">
      <div class="resume-option" id="resume-download">
        <span><i class="fas fa-download"></i></span>
      </div>
      <div class="resume-option" id="resume-download">
        <span><i class="fas fa-search-plus"></i></span>
      </div>
      <div class="resume-option" id="resume-download">
        <span><i class="fas fa-search-minus"></i></span>
      </div>
      <div class="resume-option" id="resume-download">
        <a href="https://www.linkedin.com/in/kacy-sommers/"><i class="fab fa-linkedin"></i></span>
      </div>
    </div>
</section>