<section class="section" id="resume-section">
  <div id="resume-wrapper">
    <div id="resume">
      <img src="../images/KacySommers_Resume/1.svg" alt="Kacy Sommers Resume" />
    </div>
  </div>
  <div id="resume-options">
      <div class="resume-option" id="resume-download">
        <a download href="../images/KacySommers_Resume.pdf"><i class="fas fa-download"></i></a>
      </div>
      <div class="resume-option">
        <span class="zoom" id="zoom-in"><i class="fas fa-search-plus"></i></span>
      </div>
      <div class="resume-option">
        <span class="zoom" id="zoom-out"><i class="fas fa-search-minus"></i></span>
      </div>
      <div class="resume-option" id="resume-linkedin">
        <a href="https://www.linkedin.com/in/kacy-sommers/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</section>