#about-section {
  background-color: #f8f8f8;

  #about-flex {
    display: flex;

    #about-photo, #bio {
      flex: 1;
    }

    #about-photo {
      img {
        border: 40px solid #fff;
      }
    }

    #bio {
      padding: 4em 0em;
    
      p, h2 {
        padding: 0 30px;
        line-height: 1.5em;

        #about-tagline {
          font-size: 1.3em;
          display: block;
          color: #666;
          padding: 0.2em 0 0.5em 0;
          line-height: 1.3em;
        }

        #joni-span {
          color: #e2c4a5;
          cursor: default;
        }
      }
    }

  }
}