@media screen and (max-width: 900px) {
  #main-nav {
    #nav-wrapper {
      padding: 0 2em;
      #nav-menu {
        .mobile-show {
          display: block;
        }
    
        .mobile-hide {
          display: none;
        }
      }
    }
  }

  #landing-section {
    #landing-intro {
      .letter-space {
        animation-name: none;
      }
    }
  }
  
  #about-flex {
    display: flex;
    flex-direction: column-reverse;

    #about-photo {
      img {
        width: 60%;
        min-width: 300px;
        margin: -2em auto 2em auto;
      }
    }

    #bio {
      h2, p {
        padding: 0 20px;
      }
    }
  }

  #projects-section {
    text-align: center;
    #project-arrows {
      justify-content: space-around;
      .project-arrow {
        margin: 0;
      }
    }

    .projects-flex {
      flex-direction: column;
      .project-description-wrapper {
        padding: 3em 1em 0 1em;
      }

      .project-photos {
        padding: 1em 3em;
      }
    }
  }

  #projects-section:after {
    padding: 57%;
  }

  #project-page-section {
    #project-page-wrapper {
      #project-details {
        padding: 8em 2em 3em 2em;
        h1 {
          font-size: 50px;
        }
      }

      #project-images {
        padding: 3em 2em;
      }
    }
  }
}



@media screen and (max-width: 750px) {
   #landing-section {
    #landing-intro {
      .letter-space {
        animation-name: none;
      }

      h1 {
        font-size: 50px;

      }

      h3 {
        font-size: 30px;
      }
    }
  }

  #projects-section {
    #projects-flex {
      #project-description-wrapper {
        h1 {
          font-size: 50px;
        }
      }
    }
  }

  #projects-section:after {
    padding: 69%;
  }

  #contact-section {
    #contact-intro {
      #contact-intro-wrapper {
        width: 90%;
      }
    }
  }

  #resume-section {  
    #resume-options {
      justify-content: flex-start;
      padding-top: 8em;
      i {
        font-size: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #projects-section {
    #projects-thumbnails {
      .project-thumbnail-wrapper {
        flex: 1 1 50%;
      }
    }

    .projects-flex {
      text-align: center;

      .project-description-wrapper {
        .project-title {
          font-size: 50px;
        }

        #project-techs {
          font-size: 1em;
        }

        #project-arrows {
          .project-arrow {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  #projects-section:after {
    padding: 82%;
  }

  #contact-section {
    #contact-intro {
      #contact-intro-wrapper {
        width: 90%;

        h2 {
          font-size: 40px;
        }
      }
    }
  }

  #skills-section {
    .skill-icon {
      min-width: 80px;
    }
  }

  #contact-form {
    width: 100%;
    padding: 2em;
  }
}