#projects-section {
  background: linear-gradient(to bottom left, #dedfe1, #fff);

  #project-arrows {
    display: flex;
    z-index: 100;
    position: relative;

    .project-arrow {
      transition: all 0.2s ease;
      font-size: 1em;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 3em;

      span {
        padding: 0 0.2em;
      }
    }

    .project-arrow:hover {
      background-color: #f8f8f8;
    }

    a:hover {
      color: #a9c5e8;
    }
  }

  #projects-thumbnails {
    display: flex;
    padding: 2em 3em;

    img {
      flex: 1;
      opacity: 0.4;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    .thumbnail-active {
      position: relative;
      z-index: 100;
      opacity: 1;
      transform: scale(1.1);
    }
  }

  .carousel {
    position: relative;

    .current-slide {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .projects-flex {
    display: flex;
    .project-description-wrapper, .project-photos {
      flex: 1;
      padding: 3em;
    }

    .project-description-wrapper {
      .project-description {
        font-size: 1em;
        padding: 1em 0 0.5em 0;
  
        span {
          color: #a9c5e8;
        }
      }

      .project-links {
        border-bottom: 5px solid #ddeaf0;
        padding-bottom: 2em;
        margin-bottom: 1em;

        .project-read-more {
          color: #a9c5e8;
          display: block;
          margin-bottom: 2em;
        }

        .project-github, .project-live {
          @extend %button-styles;
          margin-right: 0.5em;
        }

        a:hover {
          opacity: 0.5;
        }
      }
    }

    .project-photos {
      .project-display {
        .project-display-top {
          position: relative;
          .project-image {
            margin: 0 auto;
            box-shadow: 2px 2px 20px #888;
            position: absolute;
          }
          .project-image:after {
            margin: 100px;
          }
        }
        .project-display-bottom {
          .bullets {
            text-align: center;
            color: #222;
            font-size: 3em;

            .bullet {
              cursor: pointer;
              margin: 0.2em 0.1em;
              transition: color 0.5s ease;
            }

            .bullet-active {
              color: #a9c5e8;
            }
          }
        }
      }
    }
  }
}

#projects-section:after {
  padding: 20%;
  content: "";
  display: block;
}