#resume-section {
  background: linear-gradient(to bottom left,  #fff, #dedfe1);
  #resume-wrapper {
    margin: 0 auto;
    padding: 8em 0 3em 17.5%;

    #resume {
      width: 75%;
      margin: 0 auto;

      img {
        box-shadow: 2px 2px 20px #888;
      }
    }
  }

  #resume-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: #222;
    width: 20%;

    .resume-option {
      padding: 1em 0;
    }

    i {
      font-size: 2em;
    }
  }
}