#resume-section {
  background: linear-gradient(to bottom left,  #fff, #dedfe1);
  min-height: 100vh;

  #resume-wrapper {
    margin: 0 auto;
    padding: 8em 0 3em 17.5%;
    overflow-x: scroll;

    #resume {
      width: 75%;
      margin: 0 auto;
      img {
        box-shadow: 2px 2px 20px #888;
        transition: all 0.1s ease;
        margin: 0 auto;
      }
    }
  }

  #resume-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #fff;
    background-color: #222;
    width: 20%;

    .resume-option {
      padding: 1em 0;

      .zoom {
        cursor: pointer;
        transition: all 0.2s ease;
      }

      span:hover, a:hover {
        color: #a9c5e8;
      }
    }

    i {
      font-size: 2em;
    }
  }
}