* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cabin, sans serif;
}

body, html {
  overflow-x: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

main, nav {
  transition: filter 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condensed, sans serif;
  font-weight: 100;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

p {
  font-size: 1.2em;
}

img {
  width: 100%;
  display: block;
}

.section {
  position: relative;
}

.page-title {
  padding: 2em 0 1em 0;
  text-align: center;
  color: #222;
  letter-spacing: 0.25em;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-lid {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1100;
  transition: opacity 0.5s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#contact-form #contact-form-wrapper input[type=submit], #contact-section #contact-intro #contact-intro-wrapper button, #projects-section .projects-flex .project-description-wrapper .project-links .project-github, #projects-section .projects-flex .project-description-wrapper .project-links .project-live, #landing-section #landing-intro button {
  color: #a9c5e8;
  border: 2px solid #a9c5e8;
  font-size: 1.3em;
  padding: 0.5em 2em;
  outline: none;
  background: none;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  color: #fff;
  font-size: 1.1em;
  z-index: 1000;
}
#main-nav #nav-wrapper {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 4em;
  transition: all 0.5s ease;
}
#main-nav #nav-wrapper #nav-left, #main-nav #nav-wrapper #nav-right {
  display: flex;
  align-items: center;
}
#main-nav #nav-wrapper #nav-left a {
  border: 2px solid #fff;
  padding: 0.2em 0.5em;
}
#main-nav #nav-wrapper #nav-menu {
  display: flex;
  align-items: center;
}
#main-nav #nav-wrapper #nav-menu .mobile-show {
  display: none;
}
#main-nav #nav-wrapper #nav-menu #nav-burger i {
  font-size: 1.5em;
}
#main-nav #nav-wrapper #nav-menu a {
  margin-left: 1.5em;
}
#main-nav #nav-wrapper #nav-menu #github-link i {
  color: #a9c5e8;
  font-size: 2.4em;
}

#mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #ddeaf0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
  transition: all 0.7s ease;
  overflow-y: scroll;
}
#mobile-nav a {
  flex: 1;
  font-size: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  margin: 0.75em 0;
}
#mobile-nav a i {
  font-size: 1.6em;
}
#mobile-nav a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #fff;
}

.hide-mobile-nav {
  transform: translateY(-100%);
  opacity: 0.7;
}

#landing-section {
  background-color: #222;
  height: 100vh;
  min-height: 375px;
  color: #fff;
}
#landing-section #landing-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#landing-section #landing-bg img {
  width: 60%;
  min-width: 650px;
}
#landing-section .center-wrapper {
  height: 100vh;
  min-height: 375px;
}
#landing-section #landing-intro {
  text-align: center;
  position: relative;
}
#landing-section #landing-intro h3 {
  margin: 0.5em 0;
}
#landing-section #landing-intro button:hover {
  background-color: white;
  border-color: #fff;
}

#about-section {
  background-color: #f8f8f8;
}
#about-section #about-flex {
  display: flex;
}
#about-section #about-flex #about-photo, #about-section #about-flex #bio {
  flex: 1;
}
#about-section #about-flex #about-photo img {
  border: 40px solid #fff;
}
#about-section #about-flex #bio {
  padding: 4em 0em;
}
#about-section #about-flex #bio p, #about-section #about-flex #bio h2 {
  padding: 0 30px;
  line-height: 1.5em;
}
#about-section #about-flex #bio p #about-tagline, #about-section #about-flex #bio h2 #about-tagline {
  font-size: 1.3em;
  display: block;
  color: #666;
  padding: 0.2em 0 0.5em 0;
  line-height: 1.3em;
}
#about-section #about-flex #bio p #joni-span, #about-section #about-flex #bio h2 #joni-span {
  color: #e2c4a5;
  cursor: default;
}

#projects-section {
  background: linear-gradient(to bottom left, #dedfe1, #fff);
}
#projects-section #project-arrows {
  display: flex;
  z-index: 100;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0;
}
#projects-section #project-arrows .project-arrow {
  transition: all 0.2s ease;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 3em;
  color: #a9c5e8;
}
#projects-section #project-arrows .project-arrow span {
  padding: 0 0.2em;
}
#projects-section #project-arrows .project-arrow:hover {
  opacity: 0.6;
}
#projects-section #projects-thumbnails {
  padding: 2em 3em;
}
#projects-section #projects-thumbnails #projects-thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#projects-section #projects-thumbnails #projects-thumbnails-wrapper .project-thumbnail-wrapper {
  flex: 1;
  min-width: 100px;
}
#projects-section #projects-thumbnails #projects-thumbnails-wrapper img {
  flex: 1;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease;
}
#projects-section #projects-thumbnails #projects-thumbnails-wrapper .thumbnail-active {
  position: relative;
  z-index: 100;
  opacity: 1;
  transform: scale(1.1);
}
#projects-section #projects-thumbnails #projects-thumbnails-wrapper .thumbnail-hidden {
  opacity: 0;
}
#projects-section .carousel {
  position: relative;
}
#projects-section .carousel .current-slide {
  position: absolute;
  top: 0;
  width: 100%;
}
#projects-section .projects-flex {
  display: flex;
}
#projects-section .projects-flex .project-description-wrapper, #projects-section .projects-flex .project-photos {
  flex: 1;
  padding: 3em;
}
#projects-section .projects-flex .project-description-wrapper .project-description {
  font-size: 1em;
  padding: 1em 0 0.5em 0;
}
#projects-section .projects-flex .project-description-wrapper .project-description span {
  color: #a9c5e8;
}
#projects-section .projects-flex .project-description-wrapper .project-links {
  border-bottom: 5px solid #ddeaf0;
  padding-bottom: 2em;
  margin-bottom: 1em;
}
#projects-section .projects-flex .project-description-wrapper .project-links .project-read-more {
  color: #a9c5e8;
  display: block;
  margin-bottom: 2em;
}
#projects-section .projects-flex .project-description-wrapper .project-links .project-read-more:hover {
  opacity: 0.5;
}
#projects-section .projects-flex .project-description-wrapper .project-links .project-github, #projects-section .projects-flex .project-description-wrapper .project-links .project-live {
  margin-right: 0.5em;
}
#projects-section .projects-flex .project-description-wrapper .project-links .project-github:hover, #projects-section .projects-flex .project-description-wrapper .project-links .project-live:hover {
  background-color: #fff;
  border-color: #fff;
}
#projects-section .projects-flex .project-photos .project-display .project-display-top {
  position: relative;
}
#projects-section .projects-flex .project-photos .project-display .project-display-top .project-image {
  margin: 0 auto;
  box-shadow: 2px 2px 20px #888;
  position: absolute;
}
#projects-section .projects-flex .project-photos .project-display .project-display-top .project-image:after {
  margin: 100px;
}
#projects-section .projects-flex .project-photos .project-display .project-display-bottom .bullets {
  text-align: center;
  color: #222;
  font-size: 3em;
}
#projects-section .projects-flex .project-photos .project-display .project-display-bottom .bullets .bullet {
  cursor: pointer;
  margin: 0.2em 0.1em;
  transition: color 0.5s ease;
}
#projects-section .projects-flex .project-photos .project-display .project-display-bottom .bullets .bullet-active {
  color: #a9c5e8;
}

#projects-section:after {
  padding: 20%;
  content: "";
  display: block;
}

#skills-section {
  background-color: #ddeaf0;
}
#skills-section #skills-flex {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1em 0 4em 0;
}
#skills-section #skills-flex .skill-icon {
  flex-basis: 14%;
  padding: 1em;
  min-width: 100px;
}

#contact-section #contact-intro {
  background-color: #222;
}
#contact-section #contact-intro #contact-intro-wrapper {
  color: #fff;
  text-align: center;
  width: 70%;
  padding: 8em 0;
  margin: 0 auto;
}
#contact-section #contact-intro #contact-intro-wrapper p {
  padding: 1em 0;
}
#contact-section #contact-intro #contact-intro-wrapper button:hover {
  background-color: white;
  border-color: #fff;
}

#contact-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -500px;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #fff;
  width: 500px;
  overflow: scroll;
  transition: all 0.5s ease;
  z-index: 1200;
}
#contact-form #contact-info h4 {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}
#contact-form #contact-info h4 i {
  font-size: 1.5em;
}
#contact-form #contact-info h4 span {
  font-style: italic;
}
#contact-form #contact-form-wrapper label {
  display: block;
}
#contact-form #contact-form-wrapper input, #contact-form #contact-form-wrapper textarea {
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #fff;
  width: 100%;
  font-size: 1.3em;
  color: #fff;
  padding: 1em 0;
}
#contact-form #contact-form-wrapper textarea {
  overflow: scroll;
  resize: none;
  height: 200px;
}
#resume-section {
  background: linear-gradient(to bottom left, #fff, #dedfe1);
}
#resume-section #resume-wrapper {
  margin: 0 auto;
  padding: 8em 0 3em 17.5%;
  overflow-x: scroll;
}
#resume-section #resume-wrapper #resume {
  width: 75%;
  margin: 0 auto;
}
#resume-section #resume-wrapper #resume img {
  box-shadow: 2px 2px 20px #888;
  transition: all 0.1s ease;
  margin: 0 auto;
}
#resume-section #resume-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  color: #fff;
  background-color: #222;
  width: 20%;
}
#resume-section #resume-options .resume-option {
  padding: 1em 0;
}
#resume-section #resume-options .resume-option .zoom {
  cursor: pointer;
  transition: all 0.2s ease;
}
#resume-section #resume-options .resume-option span:hover, #resume-section #resume-options .resume-option a:hover {
  color: #a9c5e8;
}
#resume-section #resume-options i {
  font-size: 2em;
}

#project-page-section {
  background-color: #222;
  color: #fff;
}
#project-page-section #project-page-wrapper #project-details {
  padding: 8em 5em 3em 5em;
}
#project-page-section #project-page-wrapper #project-details #project-techs {
  border-bottom: 5px solid #ddeaf0;
  padding: 1em 0;
  margin-bottom: 1em;
}
#project-page-section #project-page-wrapper #project-details #project-techs span {
  font-style: italic;
  padding: 0 1em;
}
#project-page-section #project-page-wrapper #project-details #project-techs span:not(:last-child) {
  border-right: 1px solid #ddeaf0;
}
#project-page-section #project-page-wrapper #project-details p {
  line-height: 1.5em;
}
#project-page-section #project-page-wrapper #project-images {
  background-color: #ddeaf0;
  padding: 3em 5em;
}
#project-page-section #project-page-wrapper #project-images #project-images-wrapper img {
  margin-bottom: 3em;
}

#main-footer {
  background-color: #f8f8f8;
  color: #222;
  position: relative;
  z-index: 100;
}
#main-footer #footer-wrapper {
  height: 150px;
}
#main-footer #footer-wrapper a, #main-footer #footer-wrapper span {
  padding: 0 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}
#main-footer #footer-wrapper a:hover, #main-footer #footer-wrapper span:hover {
  color: #a9c5e8;
}
#main-footer #footer-wrapper i {
  font-size: 2.4em;
}

@media screen and (max-width: 900px) {
  #main-nav #nav-wrapper {
    padding: 0 2em;
  }
  #main-nav #nav-wrapper #nav-menu .mobile-show {
    display: block;
  }
  #main-nav #nav-wrapper #nav-menu .mobile-hide {
    display: none;
  }

  #landing-section #landing-intro .letter-space {
    animation-name: none;
  }

  #about-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  #about-flex #about-photo img {
    width: 60%;
    min-width: 300px;
    margin: -2em auto 2em auto;
  }
  #about-flex #bio h2, #about-flex #bio p {
    padding: 0 20px;
  }

  #projects-section {
    text-align: center;
  }
  #projects-section #project-arrows {
    justify-content: space-around;
  }
  #projects-section #project-arrows .project-arrow {
    margin: 0;
  }
  #projects-section .projects-flex {
    flex-direction: column;
  }
  #projects-section .projects-flex .project-description-wrapper {
    padding: 3em 1em 0 1em;
  }
  #projects-section .projects-flex .project-photos {
    padding: 1em 3em;
  }

  #projects-section:after {
    padding: 57%;
  }

  #project-page-section #project-page-wrapper #project-details {
    padding: 8em 2em 3em 2em;
  }
  #project-page-section #project-page-wrapper #project-details h1 {
    font-size: 50px;
  }
  #project-page-section #project-page-wrapper #project-images {
    padding: 3em 2em;
  }
}
@media screen and (max-width: 750px) {
  #landing-section #landing-intro .letter-space {
    animation-name: none;
  }
  #landing-section #landing-intro h1 {
    font-size: 50px;
  }
  #landing-section #landing-intro h3 {
    font-size: 30px;
  }

  #projects-section #projects-flex #project-description-wrapper h1 {
    font-size: 50px;
  }

  #projects-section:after {
    padding: 69%;
  }

  #contact-section #contact-intro #contact-intro-wrapper {
    width: 90%;
  }

  #resume-section #resume-options {
    justify-content: flex-start;
    padding-top: 8em;
  }
  #resume-section #resume-options i {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  #projects-section #projects-thumbnails .project-thumbnail-wrapper {
    flex: 1 1 50%;
  }
  #projects-section .projects-flex {
    text-align: center;
  }
  #projects-section .projects-flex .project-description-wrapper .project-title {
    font-size: 50px;
  }
  #projects-section .projects-flex .project-description-wrapper #project-techs {
    font-size: 1em;
  }
  #projects-section .projects-flex .project-description-wrapper #project-arrows .project-arrow {
    font-size: 0.9em;
  }

  #projects-section:after {
    padding: 82%;
  }

  #contact-section #contact-intro #contact-intro-wrapper {
    width: 90%;
  }
  #contact-section #contact-intro #contact-intro-wrapper h2 {
    font-size: 40px;
  }

  #skills-section .skill-icon {
    min-width: 80px;
  }

  #contact-form {
    width: 100%;
    padding: 2em;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes letter-space {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 0.1em;
  }
}
@keyframes hide-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes show-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hide-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes show-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.letter-space {
  animation-name: letter-space;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hide-right {
  animation-name: hide-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show-right {
  animation-name: show-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hide-left {
  animation-name: hide-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show-left {
  animation-name: show-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=main.css.map */
